.sideBar {
    width: 25%;
    background-color: #f4f4f4; /* Puedes ajustar el color */
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #A5BED4;
    /* height: 1000vh; */
  }
  
  .backlogButtonContainer {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .backlogButton {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 50%;
  } 
  
  .sprintSection {
    flex-grow: 1;
    padding-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F7FA;
    border-radius: 15px;
  }
  
  .sprintTitle {
    font-size: 1.7rem;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .divider {
    width: 58%; /* O ajusta al porcentaje o tamaño que desees */
    border: 1px solid #000000;
    margin-bottom: 15px;
    align-self:center; /* Asegúrate de que tome todo el ancho disponible dentro de su contenedor */
  }
  
  
  .createSprintButton {
    background-color: #226C52; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 50%;
  }
  
  .cardSprintList {
   width: 80%;
  }

/* Estilos específicos para móviles */
@media (max-width: 768px) {
  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; /* O el tamaño que prefieras */
    max-width: 80%;
    background: #fff; /* O el color que utilices */
    transform: translateX(-100%); /* Oculto inicialmente a la izquierda */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  
  /* Clase que activa el sidebar */
  .sideBar.open {
    transform: translateX(0);


  }
  
  /* Botón para cerrar el sidebar */
   .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(146, 22, 22);
    border: none;
    font-size: 12px; /* Tamaño más pequeño */
    color: white;
    cursor: pointer;
    padding: 5px 10px; /* Ajustar el tamaño del botón */
    border-radius: 3px; /* Bordes redondeados */
    z-index: 1000; /* Asegurarse de que esté por encima del sidebar */
  }
}

/* Opcional: overlay para desactivar el sidebar al hacer clic fuera */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}
@media (min-width: 769px) {
  .closeButton {
    display: none;
  }
}